{require_otp_vsn, "R14B*|R15B"}.

{erl_opts, [
	   %warnings_as_errors, 
	   debug_info
	    , {parse_transform, lager_transform}
	   ]}.

%% {sub_dirs, [
%%              "src"
%% 	    ,"test"
%%            ]}.

{deps, [
         {lager, ".*", {git, "http://github.com/basho/lager.git", "master"}}
       , {gproc, ".*", {git, "git://github.com/esl/gproc.git", {branch, "master"}}}
     %%  , {webmachine , ".*", {git, "git://github.com/basho/webmachine.git", "master"}}
       ]}.

{cover_enabled, false}.
{cover_print_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{eunit_compile_opts, [{i, "../"}
		     , debug_info
		     , {parse_transform, lager_transform}
		     ]}.
 
