%%-*- mode: erlang -*-

{require_otp_vsn, "R14B*|R15B"}.

{erl_opts, [
	    {i, "deps"}
	    , {i, "../../deps"}
	    , {parse_transform, lager_transform}
	    %% warnings_as_errors, 
	    , debug_info
	    , warn_obsolete_guard
	    , warn_unused_import
	    , warn_shadow_vars
	    , warn_export_vars
	   ]}.

{deps, [
	{tr69, ".*", {git, "gitolite@caprica:otp/tr69", "master"}}
]}.

{cover_enabled, false}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.
{dialyzer_opts, [{warnings, [unmatched_returns]}]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_compile_opts, [{i, "../"}
		      , debug_info
		      , {parse_transform, lager_transform}
		     ]}.

{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.


		     

